<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.khe.prj.notice.map.NoticeMapper">
<select id="noticeListALL" resultType="co.khe.prj.notice.vo.NoticeVO">
	    SELECT * FROM NOTICE
	</select>
	
	<select id="noticeSelectList" parameterType="co.khe.prj.notice.vo.NoticeVO" resultType="co.khe.prj.notice.vo.NoticeVO">
	    SELECT * FROM NOTICE WHERE NOTICE_ID = #{notice_id}
	</select>
	
	<insert id="noticeInsert" parameterType="co.khe.prj.notice.vo.NoticeVO">
	    INSERT INTO NOTICE 
	    VALUES(N_SEQ.NEXTVAL,#{notice_writer},#{notice_title},#{notice_subject}, #{notice_date},0,#{notice_attach}, #{notice_attach_dir})
	</insert>
	<update id="noticeUpdate">
	    update notice
	    set notice_title = #{notice_title}, notice_subject = #{NOTICE_SUBJECT},
	    notice_attach = #{NOTICE_ATTACH}, notice_attach_dir = #{NOTICE_ATTACH_DIR}
	    where notice_id = #{notice_id}
	</update>
	<delete id="noticeDelete">
	    delete from notice where notice_id = #{notice_id}
	</delete>

</mapper>